{% extends 'baseprofile.html.twig' %}

{% block title %}Your Comments{% endblock %}

{% block profilemainsection %}
    <section class="p-9">
        <div class="text-xl my-5">
            All Comments :
        </div>
        <div class="">
            {% for comment in comments %}
                <div class="my-3 border" id="{{ comment.id }}">
                    <div class="p-4">
                        <p class="mb-2"><span class="text-sm">{{ comment.createdAt|date("m/d/Y") }}</span>:
                            <span class="font-bold">{{ comment.articles.title|slice(0, 50) ~ '...' }}</span>
                            </p>
                        <div>{{ comment.content|slice(0, 250) ~ '...' }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pagination text-center">
            {{ knp_pagination_render(comments, '/parts/_tailwindcss_pagination.html.twig') }}
        </div>
    </section>
{% endblock %}

