{{ form_start(form) }}
<div class="">
{#    <div>#}
{#        {{ form_row(form.title) }}#}
{#    </div>#}
{#    <div>#}
{#        {{ form_row(form.author) }}#}
{#    </div>#}
{#    <div>#}
{#        {{ form_row(form.category) }}#}
{#    </div>#}
{#</div>#}
{#{{ form_row(form.intro) }}#}
{#        {{ form_row(form.content) }}#}
            {{ form_widget(form) }}
<button class="my-2 group relative flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">{{ button|default('Save') }}</button>
{{ form_end(form) }}