{% extends 'baseprofile.html.twig' %}

{% block title %}Your Articles{% endblock %}

{% block profilemainsection %}
    <section class="p-9">
        <h1 class="text-3xl my-5 text-center">Manage Your Articles</h1>

        {% for message in app.flashes('success') %}
            <div class="bg-green-100 border border-green-500 text-green-900 px-4 py-3 rounded relative" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        <div class="text-right">
            <a href="{{  path('profile.articles.new') }}" class="group justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">New Article</a>
        </div>
        <table class="table-fixed w-full my-5">
            <thead>
            <tr class="bg-blue-900">
                <th class="w-1/6 border border-light-blue-500 px-4 py-2 text-light-blue-600 font-medium">Date</th>
                <th class="w-4/6 border border-light-blue-500 px-4 py-2 text-light-blue-600 font-medium">Title</th>
                <th class="w-1/6 border border-light-blue-500 px-4 py-2 text-light-blue-600 font-medium">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                {{ include('profile/parts/_articlestable.html.twig') }}
            {%  endfor %}
            </tbody>
        </table>
                        <div class="pagination text-center">
                                {{ knp_pagination_render(articles, '/parts/_tailwindcss_pagination.html.twig') }}
                            </div>
{#        <div class="text-xl my-5">#}
{#            All Articles :#}
{#        </div>#}
{#        <div class="">#}
{#            {% for article in articles %}#}
{#                <div class="my-3 border" id="{{ article.id }}">#}
{#                    <div class="p-4">#}
{#                        <p class="mb-2"><span class="text-sm">{{ article.createdat|date("m/d/Y") }}</span>:#}
{#                            <span class="font-bold">{{ article.title|slice(0, 50) ~ '...' }}</span>#}
{#                        </p>#}
{#                        <div>{{ article.intro|slice(0, 250) ~ '...' }}</div>#}
{#                    </div>#}
{#                </div>#}
{#                #}{#                <div class="col-start-1 col-end-2 border-b px-2">{{ comment.createdat|date("m/d/Y") }}</div>#}
{#                #}{#                <div class="col-span-8 border-b">{{ comment.content|slice(0, 75) ~ '...' }}</div>#}
{#                #}{#                <div class="col-start-10 col-span-2 border-b">{{ comment.articles.title|slice(0, 20) ~ '...' }}</div>#}
{#                #}{#                <div class="col-start-10 col-span-2 border-b">{{ comment.articles.users|slice(0, 20) ~ '...' }}</div>#}
{#            {% endfor %}#}
{#        </div>#}
{#                <div class="pagination text-center">#}
{#                    {{ knp_pagination_render(articles, '/parts/_tailwindcss_pagination.html.twig') }}#}
{#                </div>#}
    </section>
{% endblock %}

