<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}
        {{ include('parts/_tarteaucitronjs.html.twig') }}
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body class="bg-indigo-900 text-yellow-100 flex flex-col h-full h-screen justify-between">

    {{ include ('parts/_navbar.html.twig') }}

        {% block prebody %}{% endblock %}
    <main id='content' class='flex-1 p-4'>
        {% block body %}{% endblock %}
    </main>

    {{ include ('parts/_footer.html.twig') }}
    <script>
        // BURGER MENU OPEN
        function navToggle() {
            var btn = document.getElementById('mobile-menuBtn');
            var nav = document.getElementById('mobile-menu');

            btn.classList.toggle('open');
            nav.classList.toggle('menu-burger');
            nav.classList.toggle('hidden');
        }
        // PROFILE MENU OPEN
        function ProfileToggle() {
            var btn = document.getElementById('user-menu');
            var nav = document.getElementById('menu-profile');

            btn.classList.toggle('open');
            nav.classList.toggle('block');
            nav.classList.toggle('hidden');
        }
        // NAV BAR STICK TOP
        var nav = document.getElementById('site-menu');
        var header = document.getElementById('top');

        window.addEventListener('scroll', function() {
            if (window.scrollY >=400) { // adjust this value based on site structure and header image height
                nav.classList.add('nav-sticky');
                nav.classList.add('bg-opacity-90');
                header.classList.add('pt-scroll');
            } else {
                nav.classList.remove('nav-sticky');
                nav.classList.remove('bg-opacity-90');
                header.classList.remove('pt-scroll');
            }
        });
    </script>
    </body>
</html>
