<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body class="bg-indigo-900 text-yellow-100 flex flex-col h-full h-screen justify-between">

    {{ include ('parts/_navbar.html.twig') }}

        {% block prebody %}{% endblock %}
    <main id='content' class='flex-1 p-8 '>
        {% block body %}{% endblock %}
    </main>

    {{ include ('parts/_footer.html.twig') }}
    <script>
        function navToggle() {
            var btn = document.getElementById('mobile-menuBtn');
            var nav = document.getElementById('mobile-menu');

            btn.classList.toggle('open');
            nav.classList.toggle('flex');
            nav.classList.toggle('hidden');
        }
        function ProfileToggle() {
            var btn = document.getElementById('user-menu');
            var nav = document.getElementById('menu-profile');

            btn.classList.toggle('open');
            nav.classList.toggle('block');
            nav.classList.toggle('hidden');
        }
    </script>
    </body>
</html>
