{%  extends 'base.html.twig' %}

{% block title 'Manage Article Neant.be'%}

{%  block body %}
    <div class="container mx-auto">
        <h1 class="text-3xl my-5 text-center">Manage Articles</h1>

        {% for message in app.flashes('success') %}
            <div class="bg-green-100 border border-green-500 text-green-900 px-4 py-3 rounded relative" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        <table class="table-fixed w-full my-5">
            <thead>
                <tr class="bg-blue-900">
                    <th class="w-4/6 border border-light-blue-500 px-4 py-2 text-light-blue-600 font-medium">Title</th>
                    <th class="w-1/6 border border-light-blue-500 px-4 py-2 text-light-blue-600 font-medium">Date</th>
                    <th class="w-1/6 border border-light-blue-500 px-4 py-2 text-light-blue-600 font-medium">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for article in articles %}
            <tr>
                <td class="border border-light-blue-500 px-4 py-2 text-light-blue-600 font-medium">{{ article.title }}</td>
                <td class="border border-light-blue-500 px-4 py-2 text-light-blue-600 font-medium text-center">{{ article.dateCreation|date("m/d/Y") }}</td>
                <td class="border border-light-blue-500 px-4 py-2 text-light-blue-600 font-medium text-center">
                    <a href="{{ path('admin.article.edit', {id: article.id}) }}" class="mx-1 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Edit</a>
                    <form method="post" action="{{ path('admin.article.delete', {id: article.id}) }}" class="inline-block" onsubmit="return confirm('Confirm Delete action ?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
                        <button class="mx-1 bg-red-500 hover:bg-red-900 text-white font-bold py-1 px-4 rounded-full">Delete</button>

                    </form>
                </td>
            </tr>
            {%  endfor %}
            </tbody>
        </table>
        <div class="text-right">
            <a href="{{  path('admin.article.new') }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">New Article</a>
        </div>
    </div>
{%  endblock %}