<div class="my-2 w-full lg:max-w-full lg:flex">
    <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('{{ vich_uploader_asset(article,'imageFile')| imagine_filter('articlesquare') }}')" title="...">
    </div>
    <div class="rounded-b lg:rounded-b-none lg:rounded-r p-4 flex-1 flex flex-col  justify-between leading-normal bg-gray-700">
        <div class="mb-8">

            <div class="text-yellow-200 font-bold text-xl">
                <a href="{{ path('article.show', {id: article.id, slug: article.slug}) }}">
                    {{ article.title }}
                </a>
            </div>
            {#                            <p class="text-sm text-gray-400 flex items-center mb-2">#}

            <p class="text-base text-white">{{ article.intro }}</p>
        </div>
        <div class="flex items-center">
            {#                            <img class="w-10 h-10 rounded-full mr-4" src="" alt="Avatar of Writer">#}
            <div class="text-sm grid grid-cols-12 w-full">
                <div class="col-start-1 col-end-9 text-gray-400 leading-none">

                    {% for category in article.categories %}
                        <a href="{{ path('category.show', {slug: category.slug}) }}">
                                    <span class="mx-2 text-xs inline-flex items-center font-bold leading-sm uppercase px-3 py-1 rounded-full text-gray-700 " style="background-color:{{category.color}}">
                                        {{category.name}}
                                    </span>
                        </a>
                    {% endfor %}


                    {#                                {% dump(article.categories) %}#}

                    {{ article.createdAt|date("m/d/Y") }} - by

                    {{ article.users }}
                    {% if ( article.users.image == '') %}
                        <img class="rounded-full inline-block" src="{{ '/uploads/images/profile/avatar-150.png'| imagine_filter('profile32') }}" alt="User Image"
                             width="32px" height="32px">
                    {% else %}
                        <img class="rounded-full inline-block" src="{{ vich_uploader_asset(article.users,'imageFile')| imagine_filter('profile32') }}" alt="Pictures {{ article.users }}" width="32px" height="32px">
                    {% endif %}

                </div>
                <div class="col-end-13 col-span-4 text-right">
                    <a href="{{ path('article.show', {id: article.id, slug: article.slug}) }}" class="uppercase text-base text-gray-400 hover:text-gray-800">Read more 🢂</a>
                </div>
            </div>
        </div>
    </div>
</div>